// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Cores do projeto baseadas no design do Figma
:root {
  /** Cores primárias **/
  --ion-color-primary: #013196;
  --ion-color-primary-rgb: 30, 58, 138;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1a3379;
  --ion-color-primary-tint: #354e96;

  /** Cores secundárias **/
  --ion-color-secondary: #3B82F6;
  --ion-color-secondary-rgb: 59, 130, 246;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3472d8;
  --ion-color-secondary-tint: #4f8ff7;

  /** Cores de sucesso **/
  --ion-color-success: #10B981;
  --ion-color-success-rgb: 16, 185, 129;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ea372;
  --ion-color-success-tint: #28c08e;

  /** Cores de aviso **/
  --ion-color-warning: #F59E0B;
  --ion-color-warning-rgb: 245, 158, 11;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d88b0a;
  --ion-color-warning-tint: #f6a823;

  /** Cores de perigo **/
  --ion-color-danger: #EF4444;
  --ion-color-danger-rgb: 239, 68, 68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d23c3c;
  --ion-color-danger-tint: #f15757;

  /** Cores neutras **/
  --ion-color-dark: #1E293B;
  --ion-color-dark-rgb: 30, 41, 59;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1a2434;
  --ion-color-dark-tint: #353e4f;

  --ion-color-medium: #64748B;
  --ion-color-medium-rgb: 100, 116, 139;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #58667a;
  --ion-color-medium-tint: #748297;

  --ion-color-light: #F8FAFC;
  --ion-color-light-rgb: 248, 250, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dadde0;
  --ion-color-light-tint: #f9fbfc;
}

// Modo escuro
// @media (prefers-color-scheme: dark) {
//   body {
//     --ion-color-primary: #3B82F6;
//     --ion-color-primary-rgb: 59, 130, 246;
//     --ion-color-primary-contrast: #ffffff;
//     --ion-color-primary-contrast-rgb: 255, 255, 255;
//     --ion-color-primary-shade: #3472d8;
//     --ion-color-primary-tint: #4f8ff7;

//     --ion-background-color: #0F172A;
//     --ion-background-color-rgb: 15, 23, 42;

//     --ion-text-color: #F8FAFC;
//     --ion-text-color-rgb: 248, 250, 252;

//     --ion-border-color: #334155;
//   }
// }
